.color1 {
    background-color: aqua;
}

.color2 {
    background-color: rgb(102, 255, 0);
}

.color3 {
    background-color: rgb(0, 81, 255);
}

.color4 {
    background-color: rgb(255, 0, 179);
}

.color5 {
    background-color: rgb(255, 251, 0);
}

.color6 {
    background-color: rgb(255, 0, 0);
}

.color7 {
    background-color: rgb(255, 146, 43);
}

.color8 {
    background-color: rgb(152, 63, 235);
}